@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/datetime/lib/css/blueprint-datetime.css";

@font-face {
  font-family: Calibri;
  src: url(assets/fonts/Calibri-Regular.ttf);
}

@font-face {
  font-family: Cambria;
  src: url(assets/fonts/Cambria.ttf);
}

body {
  overflow-x: hidden;
}

/* CHEATING */
.bp3-transition-container {
  transform: translate3d(8px, 688px, 0px) !important;
}
